
@{
    Layout = null;
}

<!--后台分页使用-->



<div style="padding:15px;border:1px solid #cecece;margin-bottom:15px;" id="questionnaireItem_12954">
    <div>
        <div style="float:left;color:#515151">

            <span>编号:&nbsp;&nbsp;</span>
            <span>19031290414350554</span>

            <span>&nbsp;&nbsp;创建时间:&nbsp;&nbsp;</span>
            <span>2019-03-04 14:35 05</span>

        </div>
        <div style="float:right;">

            <span class="btn btn-default btnQuestionnaireCopy" data-id="12954">复制</span>
            <span class="btn btn-default btnQuestionnaireDelete" data-status="1" data-id="12954">删除</span>
            <span class="btn btn-default btnQuestionnaireStart" data-status="1" data-id="12954">发布</span>


        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;padding-bottom:15px;margin-top:15px;">
        <span>名称:&nbsp;&nbsp;</span>
        <a href="/p/19031290414350554" style="font-weight:bold;" target="_blank">111111111</a>
        <span>&nbsp;&nbsp;状态:&nbsp;&nbsp;</span>


        <span id="questionnaireItem_status_12954" style="font-weight:bold;">未发布</span>

        <span>&nbsp;&nbsp;已回收:&nbsp;&nbsp;</span>
        <span>0份</span>
        <span>&nbsp;&nbsp;回收限制:&nbsp;&nbsp;</span>
        <span>不限制</span>
    </div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;vertical-align:central;">
        <a href="javascript:QuestionnaireManager(12954,'wjmc')">1.问卷名称</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12954,'wjtm')">2.问卷题目</a>
        <i class="fa fa-long-arrow-right"></i>

        <a href="javascript:QuestionnaireManager(12954,'wjsz');">3.问卷设置</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12954,'wjcb');">4.问卷传播</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12954,'wjhs');">5.问卷回收</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12954,'dtfx');">6.单题分析</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12954,'jcfx');">7.交叉分析</a>
    </div>
</div>
<div style="padding:15px;border:1px solid #cecece;margin-bottom:15px;" id="questionnaireItem_12953">
    <div>
        <div style="float:left;color:#515151">

            <span>编号:&nbsp;&nbsp;</span>
            <span>19031290414332053</span>

            <span>&nbsp;&nbsp;创建时间:&nbsp;&nbsp;</span>
            <span>2019-03-04 14:33 20</span>

        </div>
        <div style="float:right;">

            <span class="btn btn-default btnQuestionnaireCopy" data-id="12953">复制</span>
            <span class="btn btn-default btnQuestionnaireStop" data-status="2" data-id="12953">暂停</span>


        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;padding-bottom:15px;margin-top:15px;">
        <span>名称:&nbsp;&nbsp;</span>
        <a href="/p/19031290414332053" style="font-weight:bold;" target="_blank">与i有</a>
        <span>&nbsp;&nbsp;状态:&nbsp;&nbsp;</span>


        <span id="questionnaireItem_status_12953" style="color:green;font-weight:bold;">已发布</span>

        <span>&nbsp;&nbsp;已回收:&nbsp;&nbsp;</span>
        <span>0份</span>
        <span>&nbsp;&nbsp;回收限制:&nbsp;&nbsp;</span>
        <span>不限制</span>
    </div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;vertical-align:central;">
        <a href="javascript:QuestionnaireManager(12953,'wjmc')">1.问卷名称</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12953,'wjtm')">2.问卷题目</a>
        <i class="fa fa-long-arrow-right"></i>

        <a href="javascript:QuestionnaireManager(12953,'wjsz');">3.问卷设置</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12953,'wjcb');">4.问卷传播</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12953,'wjhs');">5.问卷回收</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12953,'dtfx');">6.单题分析</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12953,'jcfx');">7.交叉分析</a>
    </div>
</div>
<div style="padding:15px;border:1px solid #cecece;margin-bottom:15px;" id="questionnaireItem_12951">
    <div>
        <div style="float:left;color:#515151">

            <span>编号:&nbsp;&nbsp;</span>
            <span>19031290410252051</span>

            <span>&nbsp;&nbsp;创建时间:&nbsp;&nbsp;</span>
            <span>2019-03-04 10:25 20</span>

        </div>
        <div style="float:right;">

            <span class="btn btn-default btnQuestionnaireCopy" data-id="12951">复制</span>
            <span class="btn btn-default btnQuestionnaireStop" data-status="2" data-id="12951">暂停</span>


        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;padding-bottom:15px;margin-top:15px;">
        <span>名称:&nbsp;&nbsp;</span>
        <a href="/p/19031290410252051" style="font-weight:bold;" target="_blank">2018员工薪酬满意度调查问卷(复制)</a>
        <span>&nbsp;&nbsp;状态:&nbsp;&nbsp;</span>


        <span id="questionnaireItem_status_12951" style="color:green;font-weight:bold;">已发布</span>

        <span>&nbsp;&nbsp;已回收:&nbsp;&nbsp;</span>
        <span>1份</span>
        <span>&nbsp;&nbsp;回收限制:&nbsp;&nbsp;</span>
        <span>不限制</span>
    </div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;vertical-align:central;">
        <a href="javascript:QuestionnaireManager(12951,'wjmc')">1.问卷名称</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12951,'wjtm')">2.问卷题目</a>
        <i class="fa fa-long-arrow-right"></i>

        <a href="javascript:QuestionnaireManager(12951,'wjsz');">3.问卷设置</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12951,'wjcb');">4.问卷传播</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12951,'wjhs');">5.问卷回收</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12951,'dtfx');">6.单题分析</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12951,'jcfx');">7.交叉分析</a>
    </div>
</div>
<div style="padding:15px;border:1px solid #cecece;margin-bottom:15px;" id="questionnaireItem_12922">
    <div>
        <div style="float:left;color:#515151">

            <span>编号:&nbsp;&nbsp;</span>
            <span>19021292322322322</span>

            <span>&nbsp;&nbsp;创建时间:&nbsp;&nbsp;</span>
            <span>2019-02-23 22:32 23</span>

        </div>
        <div style="float:right;">

            <span class="btn btn-default btnQuestionnaireCopy" data-id="12922">复制</span>
            <span class="btn btn-default btnQuestionnaireStop" data-status="2" data-id="12922">暂停</span>


        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;padding-bottom:15px;margin-top:15px;">
        <span>名称:&nbsp;&nbsp;</span>
        <a href="/p/19021292322322322" style="font-weight:bold;" target="_blank">关于中学生政治素养现状问卷调查</a>
        <span>&nbsp;&nbsp;状态:&nbsp;&nbsp;</span>


        <span id="questionnaireItem_status_12922" style="color:green;font-weight:bold;">已发布</span>

        <span>&nbsp;&nbsp;已回收:&nbsp;&nbsp;</span>
        <span>44份</span>
        <span>&nbsp;&nbsp;回收限制:&nbsp;&nbsp;</span>
        <span>200</span>
    </div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;vertical-align:central;">
        <a href="javascript:QuestionnaireManager(12922,'wjmc')">1.问卷名称</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12922,'wjtm')">2.问卷题目</a>
        <i class="fa fa-long-arrow-right"></i>

        <a href="javascript:QuestionnaireManager(12922,'wjsz');">3.问卷设置</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12922,'wjcb');">4.问卷传播</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12922,'wjhs');">5.问卷回收</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12922,'dtfx');">6.单题分析</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(12922,'jcfx');">7.交叉分析</a>
    </div>
</div>
<div style="padding:15px;border:1px solid #cecece;margin-bottom:15px;" id="questionnaireItem_11237">
    <div>
        <div style="float:left;color:#515151">

            <span>编号:&nbsp;&nbsp;</span>
            <span>18101122614211637</span>

            <span>&nbsp;&nbsp;创建时间:&nbsp;&nbsp;</span>
            <span>2018-10-26 14:21 16</span>

        </div>
        <div style="float:right;">

            <span class="btn btn-default btnQuestionnaireCopy" data-id="11237">复制</span>
            <span class="btn btn-default btnQuestionnaireStop" data-status="2" data-id="11237">暂停</span>


        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;padding-bottom:15px;margin-top:15px;">
        <span>名称:&nbsp;&nbsp;</span>
        <a href="/p/18101122614211637" style="font-weight:bold;" target="_blank">2018员工薪酬满意度调查问卷</a>
        <span>&nbsp;&nbsp;状态:&nbsp;&nbsp;</span>


        <span id="questionnaireItem_status_11237" style="color:green;font-weight:bold;">已发布</span>

        <span>&nbsp;&nbsp;已回收:&nbsp;&nbsp;</span>
        <span>4108份</span>
        <span>&nbsp;&nbsp;回收限制:&nbsp;&nbsp;</span>
        <span>不限制</span>
    </div>
    <div style="border-top: 1px solid #eef1f5;padding-top:15px;vertical-align:central;">
        <a href="javascript:QuestionnaireManager(11237,'wjmc')">1.问卷名称</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(11237,'wjtm')">2.问卷题目</a>
        <i class="fa fa-long-arrow-right"></i>

        <a href="javascript:QuestionnaireManager(11237,'wjsz');">3.问卷设置</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(11237,'wjcb');">4.问卷传播</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(11237,'wjhs');">5.问卷回收</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(11237,'dtfx');">6.单题分析</a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="javascript:QuestionnaireManager(11237,'jcfx');">7.交叉分析</a>
    </div>
</div>

<script>

    function QuestionnaireManager(questionnaireId, type) {
        var url = "/questionnaire/QuestionnaireManager?questionnaireId=" + questionnaireId+"&type="+type;
        $.get(url, function (html) {
            $(".main-right").html(html);
        });
    }

    $(".btnQuestionnaireCopy").click(function () {
        var id = $(this).data("id");
        var url = "/questionnaire/QuestionnaireCopy?id=" + id;
        $.get(url, function (html) {
            if (html == "ok") {
                $("#pageIndex").val(1);
                LoadPageBar("/Questionnaire/PagedList", "Pagination", 0);


            } else {
                alert(html);
            }
        });
    });

    $(".btnQuestionnaireDelete").click(function () {
        if (confirm("你确定要删除吗")==false) {
            return false;
        }
        var id = $(this).data("id");
        var url = "/questionnaire/QuestionnaireDelete?id=" + id ;
        $.get(url, function (html) {
            if (html=="ok") {
                //$("#questionnaireItem_" + id).remove();
                LoadPageBar("/Questionnaire/PagedList", "Pagination", $("#pageIndex").val()-1);


            } else {
                alert(html);
            }
        });
    });
    $(".btnQuestionnaireStart").click(function () {
        var status = $(this).attr("data-status");
        if (status==1) {
            if (confirm("发布之后问卷题目不能修改了，你确定要发布吗") == false) {
                return false;
            }
        }

        $cur = $(this);
        var id = $(this).data("id");
        var url = "/questionnaire/QuestionnaireStart?id=" + id;
        $.get(url, function (html) {
            if (html == "ok") {
               // $cur.text("暂停");
               // debugger;
                //$("#questionnaireItem_status_" + id).html("已停止");
                LoadPageBar("/Questionnaire/PagedList", "Pagination", $("#pageIndex").val()-1);
            } else {
                alert(html);
            }
        });
    });
    $(".btnQuestionnaireStop").click(function () {
        //if (confirm("暂停后不能继续回收答卷，你确定要暂停吗") == false) {
        //    return false;
        //}
        $cur = $(this);
        var id = $(this).data("id");
        var url = "/questionnaire/QuestionnaireStop?id=" + id;
        $.get(url, function (html) {
            if (html == "ok") {
             //   $cur.text("开始");
                //$("#questionnaireItem_status_" + id).html("已发布");
                LoadPageBar("/Questionnaire/PagedList", "Pagination", $("#pageIndex").val() - 1);

            } else {
                alert(html);
            }
        });
    });
</script>

<input type="hidden" id="hidden_rows" value="7" />
<input type="hidden" id="hidden_pageSize" value="5" />
<input type="hidden" id="hidden_pageCount" value="2" />
<input type="hidden" id="hidden_pageIndex" value="1" />

