
@{
    Layout = null;
}

<!--后台分页使用-->


<table class="table table-bordered ">
    <tr class="info">
        <td>登录时间</td>
        <td >登录名</td>
        <td >IP</td>

    </tr>
    <tr class="">
        <td>2019-3-4 15:43:23</td>
        <td>admin</td>
        <td>218.89.188.229</td>


    </tr>
    <tr class="">
        <td>2019-3-4 15:04:41</td>
        <td>admin</td>
        <td>218.200.115.5</td>


    </tr>
    <tr class="">
        <td>2019-3-4 15:03:32</td>
        <td>admin</td>
        <td>218.200.115.5</td>


    </tr>
    <tr class="">
        <td>2019-3-4 14:37:14</td>
        <td>admin</td>
        <td>221.180.247.67</td>


    </tr>
    <tr class="">
        <td>2019-3-4 14:36:24</td>
        <td>admin</td>
        <td>222.66.53.68</td>


    </tr>
    <tr class="">
        <td>2019-3-4 14:32:34</td>
        <td>admin</td>
        <td>210.72.226.37</td>


    </tr>
    <tr class="">
        <td>2019-3-4 14:22:51</td>
        <td>admin</td>
        <td>202.83.222.4</td>


    </tr>
    <tr class="">
        <td>2019-3-4 14:20:36</td>
        <td>admin</td>
        <td>202.83.222.4</td>


    </tr>
    <tr class="">
        <td>2019-3-4 14:08:48</td>
        <td>admin</td>
        <td>116.236.246.74</td>


    </tr>
    <tr class="">
        <td>2019-3-4 13:33:29</td>
        <td>admin</td>
        <td>222.66.53.68</td>


    </tr>
</table>
<input type="hidden" id="hidden_rows" value="71" />
<input type="hidden" id="hidden_pageSize" value="10" />
<input type="hidden" id="hidden_pageCount" value="8" />
<input type="hidden" id="hidden_pageIndex" value="1" />
