<appSettings>
  <!-- 是否开启Debug模式：true/false -->
  <add key="IsDebug" value="true" />
  <!--程序集名称，依赖注入会用到-->
  <add key="DalNameSpace" value="DAL" />
  <add key="DalPath" value="Quick.Repository.dll" />
  <add key="BllPath" value="Quick.Service.dll" />
  <!--BaiduAK，访客统计会用到-->
  <add key="BaiduAK" value="您的BaiduAK" />
  <!--是否启用页面压缩-->
  <add key="EnableViewCompress" value="false" />
  <!--是否启用Redis-->
  <add key="EnableRedis" value="false" />
  <!-- 其他默认配置 -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>