
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile" />
    <title>111111111</title>
    <link href="/Content/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/Content/css/ComputerAnswer.css" rel="stylesheet" />
    <style>
        .questionnaire_question_item {
            padding-top: 16px;
        }
    </style>
</head>
<body style="background-image: url(/Images/wenjuan_bd/background001.jpg);">
    <div style="position:fixed;margin:auto;left:0; right:0; top:0;width:850px; text-align:center;z-index:10000;">
        <div class="progress" style="margin-bottom:0px;height:15px;border-radius:0px;opacity:1">
            <div class="progress-bar  progress-bar-success" role="progressbar" id="progressbarDiv" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;line-height:initial;">
                0%
            </div>
        </div>
    </div>

    <form style="margin-top:15px;" id="form1" data-isShowOptionIndex="1">
        <div>
            <input type="hidden" name="para" />
            <input type="hidden" name="Params" />
            <input type="hidden" name="questionnaireCode" value="19031290414350554" />
            <input type="hidden" name="lastOpenDate" value="2019-3-4 17:47:25" />
            <input type="hidden" id="IsShowValidateCode" name="IsShowValidateCode" value="no">
        </div>

        <div class="questionnaire_title">
            <div class="questionnaire_title_name">
                111111111
            </div>
        </div>
        <div class="questionnaire_content">

            <div class="questionnaire_question">
                <div class="questionnaire_question_item danxuanti isMustInputDiv " logic="" id="questionItem_16091">
                    <div class="questionnaire_question_item_name">
                        <span class="questionnaire_question_item_name_index">1.</span>
                        <span class="questionnaire_question_item_name_name">你是不是傻？</span>
                        <span class="questionnaire_question_item_name_mustinput">*</span>
                    </div>
                    <div class="questionnaire_question_item_option">
                        <div class="questionnaire_question_item_option_option" style="width:49%">
                            <input data-qid="16091" type="radio" value="61313" name="question_danxuan_16091" id="question_danxuan_16091_61313" class="questionnaire_question_item_option_option_radio" />
                            <label data-qid="16091" for="question_danxuan_16091_61313" class="questionnaire_question_item_option_option_label">是</label>
                        </div>
                        <div class="questionnaire_question_item_option_option" style="width:49%">
                            <input data-qid="16091" type="radio" value="61314" name="question_danxuan_16091" id="question_danxuan_16091_61314" class="questionnaire_question_item_option_option_radio" />
                            <label data-qid="16091" for="question_danxuan_16091_61314" class="questionnaire_question_item_option_option_label">否</label>
                        </div>
                    </div>
                    <div data-qid="16091" class="questionnaire_question_item_danxuan_errorInfo" style="color:red;font-size:14px;">

                    </div>
                </div>

            </div>

            <div style="text-align:center;margin:10px 12px 20px 12px; ">

                <div style="clear:both;height:10px;"></div>
                <span class="btn btn-primary btnConfirm" style="width:200px;border-radius:0px;margin-top:10px;">提交</span>
            </div>
            <div style="height:40px;margin:auto;text-align:center;">
                <span>技术支持&</span><a target="_blank" href="http://www.eggtwo.com">问卷源码网</a>
            </div>

        </div>

    </form>



    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="/Scripts/my/ComputerAnswer.js"></script>
</body>



</html>

