
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile" />
    <title>已经暂停搜集，感谢您的参与</title>
  
</head>
<body>
<div style="padding:15px;font-size:18px;margin:auto;text-align:center;">
    <div>感谢您的参与</div>
    <div style="font-weight:bold;">问卷 111111111</div>
    <div style="color:red;">已经暂停搜集，感谢您的参与</div>
</div>
</body>



</html>
